.foundBox {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px 50px;
  box-sizing: border-box;
  position: relative;
}

.foundBox :global .fboxtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  z-index: 999;
}

.foundBox :global .fboxtop .losttitle {
  padding: 0 25px;
}

.foundBox :global .itemcontent {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 500px;
}

.foundBox :global .itemcontent span {
  color: gray;
  font-weight: bold;
}

.foundBox :global .itemcontent .ictop {
  display: flex;
  justify-content: space-between;
}

.foundBox :global .itemcontent .ictop .ictright {
  cursor: pointer;
}

.foundBox :global .itemcontent .ictop .ictright:hover {
  opacity: 0.8;
}

.foundBox :global .itemcontent .ictop .lost {
  color: #e41515;
}

.foundBox :global .itemcontent .ictop .found {
  color: #1e80ff;
}

.foundBox :global .itemcontent .icbottom {
  display: flex;
  justify-content: space-between;
}

.foundBox :global .itemcontent .icbottom .icbright {
  color: #666;
  opacity: 0.6;
  cursor: pointer;
}

.foundBox :global .itemcontent .icbottom .icbright:hover {
  opacity: 0.8;
}
